<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeFind</title>
    <style>
        body {
            font-family: 'Press Start 2P', cursive;
            background: url("/static/images/background.jpg") no-repeat center fixed;
            background-size: cover;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="title">PokeFind</h1>
        <div class="search-container">
            <form method="POST" action="/search">
                <input type="text" name="pokemon_name" placeholder="Enter Pokémon name..." required />
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>
